brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12; python_version >= '3'
click==8.0.4; python_version >= '3.6'
colorama==0.4.4; platform_system == 'Windows'
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
dash==2.2.0
flask-compress==1.11
flask==2.0.3
gunicorn==20.1.0
idna==3.3; python_version >= '3'
itsdangerous==2.1.1; python_version >= '3.7'
jinja2==3.0.3; python_version >= '3.6'
joblib==1.1.0; python_version >= '3.6'
lxml==4.8.0
markupsafe==2.1.0; python_version >= '3.7'
multitasking==0.0.10
numpy==1.22.3
pandas==1.4.1
plotly==5.6.0
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2021.3
requests==2.27.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
scikit-learn==1.0.2; python_version >= '3.7'
scipy==1.8.0; python_version < '3.11' and python_version >= '3.8'
setuptools==60.9.3; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sklearn==0.0
tenacity==8.0.1; python_version >= '3.6'
threadpoolctl==3.1.0; python_version >= '3.6'
urllib3==1.26.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
werkzeug==2.0.3; python_version >= '3.6'
yfinance==0.1.70